@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), local('Raleway-Regular'), url('../fonts/Raleway_Regular.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
	margin: 0;
	font-family: Raleway,sans-serif;
	font-size:12px;
    line-height: 1.6;
    color: #636b6f;
}

a { font-family: "Raleway"; }
div { font-family: "Raleway"; }

.loading {
	background: lightgoldenrodyellow url('icons/processing.gif') no-repeat center 65%;
	height: 120px;
	width: 120px;
	position: fixed;
	border-radius: 4px;
	left: 50%;
	top: 50%;
	margin: -40px 0 0 -50px;
	z-index: 2000;
	display: none;
}

.video {
	position: relative;
	top: 0%; left: 0%;
	z-index: -100;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	transform: translate(0%, 0%);
	margin: 0;
	padding: 0;
	object-fit: fill;
}

#div_video .container {
	z-index: 2;
	position: absolute;
	top:20%;
}

#div_video h1, #div_video h2, #div_video h3 {
	font-family: "Raleway","Lucida Grande","Lucida Sans Unicode","Dejavu Sans",Verdana,sans-serif;
	color: #fff;
	text-shadow: 0 0 10px #666;
	letter-spacing: 3px;
}

.btn-link-1:hover{
	background-color:rgba(80, 0, 0, 0.6);
}

.btn-link-2:hover{
	background-color:rgba(80, 0, 0, 0.6);
}

.benjamin:hover{
	background-color:rgba(80, 0, 0, 0.6);
}

.btn-link-1{
    font-size: 15px;
    padding: 10px;
	width:100%;
    margin-bottom: 15px;
    color: #fff;
    background-color:rgba(80, 0, 0, 0.8);
    border: 0;
    text-shadow: none;
    border-radius: 0;
}

.btn-link-2{
    font-family: "Raleway","Lucida Grande","Lucida Sans Unicode","Dejavu Sans",Verdana,sans-serif;
    font-size: 15px;
    padding: 10px;
    color: #fff;
    background-color:rgba(80, 0, 0, 0.8);
    border: 0;
    text-shadow: none;
    border-radius: 0;
}

.benjamin{
    font-family: "Raleway","Lucida Grande","Lucida Sans Unicode","Dejavu Sans",Verdana,sans-serif;
    font-size: 20px;
    padding: 15px;
    margin: 15px;
    color: #fff;
    background-color:rgba(80, 0, 0, 0.8);
    border: 0;
    text-shadow: none;
    border-radius: 0;
}

.header3 {
    font-family: "Raleway","Lucida Grande","Lucida Sans Unicode","Dejavu Sans",Verdana,sans-serif;
    font-size: 36px;
    color: #000;
    text-align: center;
    padding: 0 0 20px;
    letter-spacing: 3px;
}

.localeFlag {
	box-shadow: 0 0 1px #666;
}

@keyframes blinking {
    from {background-color: #d3d3d3;}
    to {background-color: #FF6808;}
}

.blinking{
	background-color:red;
	animation-name: blinking;
    animation-duration: 1s;
	animation-iteration-count:infinite;
	animation-direction: alternate;
}

.paging{
	margin-top:5px;
	margin-bottom:5px;
}

.paging a{
	text-decoration:none;
	font-weight:bolder;
	margin:2px;
	padding:2px;
	color:#0CB31D;
	border:1px solid lightgrey;
}

.paging a:hover{
	background-color:#aaa;
}

.paging #a_active{
	background-color:#aaa;
}

.page_title {
	font-size:24px;
	font-weight:bolder;
	color:#0CB31D;
	padding-bottom:20px;
}

.popup_message {
	width:300px;
	height:150px;
	font-size:18px;
	font-weight:bolder;
	color:#0CB31D;
}

.popup_message td{
	text-align:center;
	vertical-align:middle;
}

.error_message {
	color: red !important;
}

.fancybox-custom .fancybox-skin {
	box-shadow: 0 0 50px #222;
}

.nofixedHeader {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 2000;
    width: 100%;
	height:70px;
	box-shadow: 0px 1px 3px #000;
	background-color: white;
}

.fixedHeader {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 2000;
    width: 100%;
}

.fixedHeader:first-child{
	height:70px;
	box-shadow: 0px 1px 3px #000;
	background-color: rgba(255, 255, 255, 1);
}

.frontRegisterArea {
	height:300px;
	width:432px;
	background-color: rgba(12, 179, 29, 0.6);
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.txt_login{
	padding-left:5px;
	height:21px;
	width:165px;
	border:2px solid #0CB31D;
}

.btn_sign{
	width:77px;
	height:27px;
	background-color:#FF6808;
	border: solid 1px #B3B3B3;
	color:#FEFEFE;
}

.btn_sign:hover {
	background-color:rgba(80, 0, 0, 0.8);
}

.starts_here{
	vertical-align:top;
	color:white;
	font-weight:bolder;
	font-size:25px;
}

.starts_here_input{
	height:35px;
	width:350px;
	padding:0px 10px 0px 10px;
	background-color:white;
	border:1px solid #0CB31D;
	font-size:14px;
}

.language_active{
	color:#0CB31D;
	font-weight:bold;
	cursor : pointer;
	font-size:13px;
}

.language_notactive{
	color:#FF6808;
	font-weight:bold;
	cursor : pointer;
	font-size:11px;
}
.language_notactive:hover{
	color:#0CB31D;
}

.signin_or{
	color:grey;
	font-size:11px;
}
.signin_link {
	color:#0CB31D;
	font-weight:bold;
	cursor : pointer;
	font-size:13px;
}

.signin_link:hover {
	color:#FF6808;
}

.search_area_input{
	height:27px;
	width:300px;
	padding:0px 10px 0px 10px;
	background-color:white;
	border:1px solid #0CB31D;
	font-size:12px;
}

.search_area_select{
	height:27px;
	padding:0px 10px 0px 10px;
	background-color:white;
	border-color:#0CB31D;
	font-size:12px;
	text-align:right;
	color:grey;
}

.category_search_link {
	width:325px;
	display:list-item;	
}

.category_search_link  a{
	text-decoration:none;
	font-size:13px;
	color:#333;
}

.category_search_link  a:hover{
	color:#0CB31D;
}

.common_title {
	font-size:20px;
	color:#0CB31D;
	font-weight:bolder;
	margin-bottom:10px;
}

footer {
	font-size:12px;
}

.footer_area {
	position :absolute;
	width:100%;
	background-color: rgba(12, 179, 29, 0.7);
}

.footer_area  div{
	display:table;
    margin:auto;
}

.footer_area  a{
	text-decoration:none;
	font-size:13px;
	color:#fff;
}

.footer_area  a:hover{
	color:#FF6808;
}

.footer_area  b {
	font-size:14px;
	font-weight:bolder;
}


.footer-top {
	background: #333;
	text-align: left;
	color: #aaa;
}
.footer-links a {
	color: #aaa;
}

.v_spacer {
	height:5px;
}

.search_icon {
	width:28px;
	height:28px;
}

.viewing_search_results {
	font-size:20px;
	font-weight:bolder;
	color:black;
}

.sort_by {
	font-size:12px;
	position:relative;
	float:left;
}

.sort_by_select {
	position:relative;
	float:right;
	margin-right:10px;
}

.sort_by_select select{
	width:150px;
}

.viewing {
	position:relative;
	float:right;
	margin-right:30px;
}

.empty_result {
	margin:10px;
	font-size:16px;
	color:red;
	font-weight:bolder;
}

.whitecard {
	position:relative;
	padding:10px;
	background-color:white;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
}

.card {
	position:relative;
	left:-10px;
	background-color:rgba(12, 179, 29, 0.1);
	width:1000px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.card #title{
	color:#575757;
	letter-spacing: 1px;
	font-size:14px;
	font-weight:bolder;
	border-bottom:1px solid rgba(12, 179, 29, 0.3);
	padding:5px 5px 5px 5px;
}

.card #about{
	color:#575757;
	letter-spacing: 1px;
	font-size:14px;
	padding:5px 5px 5px 5px;
}

.card #content{
	color:#333;
	letter-spacing: 0.5px;
	font-size:12px;
	padding:5px 5px 5px 5px;
}

.card #content #photo{
	margin-left: 25%;
	margin-bottom:10px;
	margin-top:10px;
}


.card #content #photo_nav{
	position:relative;
	top:-20px;
	margin-left: 25%;
	margin-bottom:10px;
}

.card #content #premium_member{
	position:absolute;
	top: 150px;
	left: 500px;
}

.card .content_data input {
	padding-left:5px;
	height:30px;
	width:400px;
	border:0px solid white;
	background-color:rgba(255, 255, 255, 0.5);
	font-size:14px;
	letter-spacing:1px;
}

.card .content_data input[type=checkbox]{
	width:15px;
	height:15px;
}

.card .content_data textarea{
	padding-left:5px;
	height:80px;
	width:400px;
	border:0px solid white;
	background-color:rgba(255, 255, 255, 0.5);
	font-size:14px;
	letter-spacing:1px;
}

.card .content_data {
	font-size:14px;
	width:700px;
	text-align:left;
}
.card .content_data  td:first-child {width:250px;}
.card .content_data td {padding:5px;}
.card .content_data tr:nth-child(even) {background: rgba(3, 3, 3, 0.3);}
.card .content_data tr:nth-child(odd) {background: rgba(12, 179, 29, 0.3);}

.navigation {
	width:700px;
	float:right:
}

.greencard_hover :hover{
	background-color:rgba(255, 179, 29, 0.2);
}

.card #start_year,#graduated_year{
	width:90px;
}

.card #summaries,#cover_letter,#cover_letter_en,#cover_letter_id{
	height:400px;
	width:700px;
}

.card #content #table_content{
	position:relative;
	top:-30px;
}

.er_menu:hover{
	background-color:rgba(12, 179, 29, 1);
}

.er_menu{
	position:relative;
	float:left;
	cursor:pointer;
	font-size:14px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	background-color:rgba(12, 179, 29, 0.7);
	font-weight:700;
	line-height:32px;
	padding:0 15px;
}


#blogs{
    width:980px;
    padding:0;
    margin:auto;
}

#wrapper{
    width:980px;
    margin-top:100px;
}

#categorymenu{
    background-color: white;
    width:980px;
    height:40px;
    text-align:center;
}

#content{
    width:980px;  
}

.content-left{
    padding:0px 10px 10px 10px;
    margin-top:30px;
    width:265px;
    background-color:white;
    border-radius:5px;
    text-align: center;
    
}

#content-right{
    margin-top:50px;
    width:350px;
    height:200px;
    float:right;
    margin-bottom:50px;
}

.textrotate{
    background-color:#FF6808;
    width:90px;
    height:20px;
    position:relative;
    padding-top:3px;
    top:10px;
    left:-32px;
    z-index:999;
    -ms-transform: rotate(-45deg); /* IE 9 */
    -webkit-transform: rotate(-45deg); /* Chrome, Safari, Opera */
    transform: rotate(-45deg);
}

.toolTip .details {
    padding: 14px 10px 10px;
    display: block;
	margin-bottom: 20px;
}

.toolTip .name {
    font-size: 13px;
    color: #fff;
	padding-right:20px;
}

.toolTip .name2 {
    font-size: 13px;
    color: #666;
	padding-right:20px;
}

.toolTip .nationality {
    font-size: 12px;
    color: #888;
}

.this_form_login input{
	width: 200px;
	padding:0px 10px 0px 10px;
	height:30px;
}

#	ProfileImg{
	width:200px;
}

.form-group label{
	display: block;
}

.notification-counter {
	background: #5bc0de;
	position: absolute;
	right: -5px;
	display: block;
	padding: 2px 5px;
	height: 15px;
	color: #fff;
	text-align: center;
	line-height: 15px;
	font-size: 10px;
	text-transform: lowercase;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	display:inline;
}

#conversations{
	margin-top:20px;
	margin-bottom:100px;
	padding:5px;
	border:1px solid #ccc;
}

.bs-callout {
	width:90%;
    padding: 5px;
    margin: 10px 0;
    border: 1px solid #eee;
    border-radius: 3px;
}

.bs-callout-left{
    border-left-width: 5px;
    border-right-width: 1px;
}

.bs-callout-right{
	position:relative;
	left:10%;
    border-left-width: 1px;
    border-right-width: 5px;
}

.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}
.bs-callout p:last-child {
    margin-bottom: 0;
}
.bs-callout code {
    border-radius: 3px;
}
.bs-callout+.bs-callout {
    margin-top: -5px;
}
.bs-callout-default {
    border-left-color: #777;
    border-right-color: #777;
}
.bs-callout-default h4 {
    color: #777;
}
.bs-callout-primary {
    border-left-color: #428bca;
    border-right-color: #428bca;
}
.bs-callout-primary h4 {
    color: #428bca;
}
.bs-callout-success {
    border-left-color: #5cb85c;
    border-right-color: #5cb85c;
}
.bs-callout-success h4 {
    color: #5cb85c;
}
.bs-callout-danger {
    border-left-color: #d9534f;
    border-right-color: #d9534f;
}
.bs-callout-danger h4 {
    color: #d9534f;
}
.bs-callout-warning {
    border-left-color: #f0ad4e;
    border-right-color: #f0ad4e;
}
.bs-callout-warning h4 {
    color: #f0ad4e;
}
.bs-callout-info {
    border-left-color: #5bc0de;
    border-right-color: #5bc0de;
}
.bs-callout-info h4 {
    color: #5bc0de;
}

.top-right-img {
    position: absolute;
	left:200px;
	color:white;
    display: block;
    text-decoration: none;
	text-shadow: 1px 1px grey;
	background-color:#337ab7;
	cursor:pointer;
	font-size:40px;
}

.new-img-icon{
	position: absolute;
	top:5px;
	right:24px;
	font-size:10px;
	background-color:#337ab7;
	padding-left:5px;
	padding-right:5px;
	padding-top:3px;
	color:white;
}

.reject-icon{
	position: absolute;
	top:5px;
	right:24px;
	font-size:10px;
	background-color:red;
	padding-left:5px;
	padding-right:5px;
	padding-top:3px;
	color:white;
}

.reject-icon2{
	position: absolute;
	top:0px;
	right:15px;
	font-size:15px;
	background-color:red;
	padding:5px;
	color:white;
}
/*===================================================================================*/
.nowrap {
	white-space:nowrap;
}

.navbar-default {
    background-color: #f4f4f4 !important;
}
.navbar-nav {
    position: relative;
    top: 5px;
}
.navbar-default .navbar-nav a{
	color:#000 !important;
}
.navbar-default .navbar-nav>.open>a:hover{
	background-color:#800000 !important;
	font-weight:bolder;
}

.carousel-inner{
	height:550px !important;
}
.carousel-control{
	color:#800000 !important;
	width:10% !important;
	z-index:10 !important;
}
.carousel-indicators li{
	border:1px solid #800000 !important;
}
.carousel-indicators .active{
	background-color:#800000 !important;
}
.carousel-caption {
	position:absolute !important;
	top:0px;
	max-width: 550px;
	padding: 0 20px;
	margin:0 auto;
	margin-top: 100px;
}
.carousel-overlay {
    position: absolute;
	top:0px;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
}

.dropdown-menu>li>a:hover{
	background-color:#800000 !important;
	color:#000 !important;
}

.search-container {
  float: right;
}
.search-container input[type=text] {
  padding: 8px;
  margin-top: 8px;
  font-size: 13px;
  border: none;
  width:300px;
}
.search-container button {
  float: right;
  padding: 5px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #800000;
  color:#000;
  font-size: 17px;
  border: none;
  cursor: pointer;
}
.search-container button:hover {
  background: #EFB509;
}
.search-container select {
  padding: 11px 0px 11px 0px;
  margin-top: 8px;
  font-size: 10px;
  border: none;
  background-color: #fff;
  width:120px;
}

.header-start{ height:58px; }
.header-start2{ height:58px; }

.menuTitle{
	position:relative;
	float:left;
	padding:0px 0px 0px 20px;
	color:#800000;
	font-weight:bolder;
	width:100%;
}

.sub-title-text{
	position:relative;
	float:left;
	font-size:24px;
	font-weight:bolder;
	margin-left:15px;
}

.view-all-text{
	position:relative;
	float:right;
	margin-right:15px;
	margin-top:15px;
}
.view-all-text a {
	color:#800000;
	text-decoration:none;
}
.view-all-text a:hover{
	color:#EFB509;
	text-decoration:none;
}

.img-thumbnail {
	vertical-align: top;
	width:200px;
	height:265px !important;
	overflow: hidden;
	white-space: normal;
	font-size: 0.9em;
}
.img-thumbnail img {
	width:190px;
	height:190px;
}
.img-thumbnail .caption {
	height: 40px;
}
.img-thumbnail .price {
	color: #800000 ;
}

.categories .img-thumbnail {
	vertical-align: top;
	text-align:center;
	width:80px;
	height:115px !important;
	overflow: hidden;
	white-space: normal;
	font-size: 0.7em;
}
.categories .img-thumbnail img {
	width:80px;
	height:80px;
}

a:focus, a:hover {
    color: #800000 !important;
    text-decoration: none !important;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 99999;
    top: 0;
    right: 0;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 10px;
}
.sidenav a {
    padding: 8px 8px 8px 8px;
    text-decoration: none;
    font-size: 14px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
.sidenav a:hover {
    color: #f1f1f1;
}
.sidenav .closebtn {
	float:right;
	position:relative;
	color:#800000;
}
.sidenav .closebtn a{
	text-decoration: none;
	color:#800000;
    font-size: 46px;
	font-weight:bolder;
	line-height: 0px;
}

#sidenavContent {
	margin-top:20px;
	padding:10px;
}

.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.r-form-1-top {
	margin-top:15%;
	margin-left:50px;
    padding: 25px 25px 15px 25px;
    background: #444;
    background: rgba(200, 200, 200, 0.45);
    -moz-border-radius: 40px 0 0 0;
    -webkit-border-radius: 40px 0 0 0;
    border-radius: 40px 0 0 0;
	color: #fff;
	font-size: 34px;
	text-shadow: 1px 1px #080808;
}
.r-form-1-top img{
	height:50px;
	position:relative;
	top:-10px;
}
.r-form-1-bottom {
    padding: 25px;
	margin-left:50px;
    background: #444;
    background: rgba(200, 200, 200, 0.3);
    text-align: left;
	font-size: 18px;
    line-height: 34px;
	color: #fff;
	opacity: 0.8;
	text-shadow: 1px 1px #080808;
}
.r-form-1-bottom .subtitle {
	font-size: 28px;
}
.r-form-1-bottom .description {
	margin-bottom:40px;
}

.form-group #next {
	position:relative;
	float:right;
}

.survey-label{
	white-space:normal;
	font-size:12px;
}

.take-photo{
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.take-photo + label {
    max-width: 80%;
    font-size: 1.25rem;
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 0.625rem 1.25rem;
    color: #800000;
}
.take-photo + label img {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    fill: currentColor;
    margin-top: 0px;
    margin-right: 0.25em;
    width: 100%;
    height: 100%;
    fill: #f1e5e6;
}
.take-photo:focus + label, .take-photo.has-focus + label, .take-photo + label:hover {
    color: #EFB509;
}
.take-photo + label figure {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #800000;
    display: block;
    padding: 5px;
    margin: 0 auto 10px;
}
.take-photo:focus + label figure, .take-photo.has-focus + label figure, .take-photo + label:hover figure {
    background-color: #EFB509;
}

#waterfall .close{
	font-size:30px !important;
	line-height:0 !important;
	color:#800000 !important;
	opacity:1 !important;
	margin:5px 0px 10px 0px;
}

@media screen and (max-width: 995px) {
	.header-start{ height:110px; }
	.carousel-inner{
		height:100% !important;
	}
	.r-form-1-top {
		margin-top:5%;
	}
	.header-search{
		display:none;
	}
}

@media screen and (max-width: 767px) {
	.header-start{ height:80px; }
	.carousel-indicators li{
		width:5px !important;
		height:5px !important;
	}
	.carousel-indicators .active{
		width:7px !important;
		height:7px !important;
	}
	.carousel-indicators{
		bottom:-10px !important;
	}
}

@media screen and (max-width: 733px) {
	.header-start{ height:110px; }
	.img-thumbnail {
		height:155px !important;
		vertical-align: top;
		width:100px;
		overflow: hidden;
		white-space: normal;
		font-size: 0.6em;
	}
	.img-thumbnail img {
		height:90px;
		width:90px;
	}
	.img-thumbnail .caption {
		padding-top:2px;
		height: 25px;
	}
	
	.categories .img-thumbnail {
		width:60px;
		height:80px !important;
		overflow: hidden;
		white-space: normal;
		font-size: 0.5em;
	}
	.categories .img-thumbnail img {
		width:50px;
		height:50px;
	}
}

@media screen and (max-width: 690px) {
	.r-form-1-top {
		margin-top:15%;
		margin-left:25px;
		padding: 5px 5px 3px 15px;
		-moz-border-radius: 20px 0 0 0;
		-webkit-border-radius: 20px 0 0 0;
		border-radius: 20px 0 0 0;
		font-size: 20px;
	}
	.r-form-1-top img{
		height:25px;
		position:relative;
		top:-5px;
	}
	.r-form-1-bottom {
		padding: 5px;
		margin-left:25px;
		font-size: 12px;
		line-height: 24px;
	}
	.r-form-1-bottom .subtitle {
		font-size: 19px;
	}
	.r-form-1-bottom .description {
		margin-bottom:20px;
	}
}

@media screen and (max-width: 492px) {
	.search-container input[type=text] {
		width: 60%;
	}
	.search-container button {
		width:100%;
		margin:0;
	}
	.search-container {
	  width:100%;
	  padding-left:7px;
	}
	.header-start{ height:165px; }
	
	.r-form-1-top {
		margin-top:10%;
		margin-left:15px;
		padding: 3px 3px 2px 8px;
		-moz-border-radius: 10px 0 0 0;
		-webkit-border-radius: 10px 0 0 0;
		border-radius: 10px 0 0 0;
		font-size: 15px;
	}
	.r-form-1-top img{
		height:20px;
		position:relative;
		top:-3px;
	}
	.r-form-1-bottom {
		padding: 3px;
		margin-left:15px;
		font-size: 10px;
		line-height: 14px;
	}
	.r-form-1-bottom .description {
		margin-bottom:10px;
	}
	.r-form-1-bottom .subtitle {
		font-size: 12px;
	}
	.r-form-1-bottom .btn-link-2 { 
		font-size: 10px;
	}
}
/*===================================================================================*/