@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), local('Raleway-Regular'), url('../fonts/Raleway_Regular.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body, html {
    height: 100%;
}

body {
	margin: 0;
	font-family: Raleway,sans-serif;
	font-size:12px;
    line-height: 1.6;
    color: #636b6f;
}

a { font-family: "Raleway"; }

div { font-family: "Raleway"; }

.loading {
	background: lightgoldenrodyellow url('icons/processing.gif') no-repeat center 65%;
	height: 120px;
	width: 120px;
	position: fixed;
	border-radius: 4px;
	left: 50%;
	top: 50%;
	margin: -40px 0 0 -50px;
	z-index: 2000;
	display: none;
}

.video {
	position: relative;
	top: 0%; left: 0%;
	z-index: -100;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	transform: translate(0%, 0%);
	margin: 0;
	padding: 0;
	object-fit: fill;
}

#div_video .container {
	z-index: 2;
	position: absolute;
	top:20%;
}

#div_video h1, #div_video h2, #div_video h3 {
	font-family: "Raleway","Lucida Grande","Lucida Sans Unicode","Dejavu Sans",Verdana,sans-serif;
	color: #fff;
	text-shadow: 0 0 10px #666;
	letter-spacing: 3px;
}

.btn-link-1:hover{
	background-color:rgba(80, 0, 0, 0.6);
}

.btn-link-2:hover{
	background-color:rgba(80, 0, 0, 0.6);
}

.benjamin:hover{
	background-color:rgba(80, 0, 0, 0.6);
}

.btn-link-1{
    font-size: 15px;
    padding: 10px;
	width:100%;
    margin-bottom: 15px;
    color: #fff;
    background-color:rgba(80, 0, 0, 0.8);
    border: 0;
    text-shadow: none;
    border-radius: 0;
}

.btn-link-2{
    font-family: "Raleway","Lucida Grande","Lucida Sans Unicode","Dejavu Sans",Verdana,sans-serif;
    font-size: 15px;
    padding: 10px;
    color: #fff;
    background-color:rgba(80, 0, 0, 0.8);
    border: 0;
    text-shadow: none;
    border-radius: 0;
}

.benjamin{
    font-family: "Raleway","Lucida Grande","Lucida Sans Unicode","Dejavu Sans",Verdana,sans-serif;
    font-size: 20px;
    padding: 15px;
    margin: 15px;
    color: #fff;
    background-color:rgba(80, 0, 0, 0.8);
    border: 0;
    text-shadow: none;
    border-radius: 0;
}

.header3 {
    font-family: "Raleway","Lucida Grande","Lucida Sans Unicode","Dejavu Sans",Verdana,sans-serif;
    font-size: 36px;
    color: #000;
    text-align: center;
    padding: 0 0 20px;
    letter-spacing: 3px;
}

.localeFlag {
	box-shadow: 0 0 1px #666;
	position:relative;
	top:-5px;
}

@keyframes blinking {
    from {background-color: #d3d3d3;}
    to {background-color: #FF6808;}
}

.blinking{
	background-color:red;
	animation-name: blinking;
    animation-duration: 1s;
	animation-iteration-count:infinite;
	animation-direction: alternate;
}

.paging{
	margin-top:5px;
	margin-bottom:5px;
}

.paging a{
	text-decoration:none;
	font-weight:bolder;
	margin:2px;
	padding:2px;
	color:#0CB31D;
	border:1px solid lightgrey;
}

.paging a:hover{
	background-color:#aaa;
}

.paging #a_active{
	background-color:#aaa;
}

.page_title {
	font-size:24px;
	font-weight:bolder;
	color:#0CB31D;
	padding-bottom:20px;
}

.popup_message {
	width:300px;
	height:150px;
	font-size:18px;
	font-weight:bolder;
	color:#0CB31D;
}

.popup_message td{
	text-align:center;
	vertical-align:middle;
}

.error_message {
	color: red !important;
}

.fancybox-custom .fancybox-skin {
	box-shadow: 0 0 50px #222;
}

.nofixedHeader {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 2000;
    width: 100%;
	height:70px;
	box-shadow: 0px 1px 3px #000;
	background-color: white;
}

.fixedHeader {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 2000;
    width: 100%;
}

.fixedHeader:first-child{
	height:70px;
	box-shadow: 0px 1px 3px #000;
	background-color: rgba(255, 255, 255, 1);
}

.frontRegisterArea {
	height:300px;
	width:432px;
	background-color: rgba(12, 179, 29, 0.6);
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.txt_login{
	padding-left:5px;
	height:21px;
	width:165px;
	border:2px solid #0CB31D;
}

.btn_sign{
	width:77px;
	height:27px;
	background-color:#FF6808;
	border: solid 1px #B3B3B3;
	color:#FEFEFE;
}

.btn_sign:hover {
	background-color:rgba(80, 0, 0, 0.8);
}

footer {
	font-size:12px;
}

.footer_area {
	position :absolute;
	width:100%;
	background-color: rgba(12, 179, 29, 0.7);
}

.footer_area  div{
	display:table;
    margin:auto;
}

.footer_area  a{
	text-decoration:none;
	font-size:13px;
	color:#fff;
}

.footer_area  a:hover{
	color:#FF6808;
}

.footer_area  b {
	font-size:14px;
	font-weight:bolder;
}
.footer-top {
	background-image: url("../assets/footer.png");
	background-color: #F9CE20;
	text-align: left;
	color: #000;
}
.footer-links a {
	color: #000;
}
.footer-contact a{
	color: #000;
}

.v_spacer {
	height:5px;
}

.search_icon {
	width:28px;
	height:28px;
}

.viewing_search_results {
	font-size:20px;
	font-weight:bolder;
	color:black;
}

.sort_by {
	font-size:12px;
	position:relative;
	float:left;
}

.sort_by_select {
	position:relative;
	float:right;
	margin-right:10px;
}

.sort_by_select select{
	width:150px;
}

.viewing {
	position:relative;
	float:right;
	margin-right:30px;
}

.empty_result {
	margin:10px;
	font-size:16px;
	color:red;
	font-weight:bolder;
}

.whitecard {
	position:relative;
	padding:10px;
	background-color:white;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
}

.card {
	position:relative;
	left:-10px;
	background-color:rgba(12, 179, 29, 0.1);
	width:1000px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.card #title{
	color:#575757;
	letter-spacing: 1px;
	font-size:14px;
	font-weight:bolder;
	border-bottom:1px solid rgba(12, 179, 29, 0.3);
	padding:5px 5px 5px 5px;
}

.card #about{
	color:#575757;
	letter-spacing: 1px;
	font-size:14px;
	padding:5px 5px 5px 5px;
}

.card #content{
	color:#333;
	letter-spacing: 0.5px;
	font-size:12px;
	padding:5px 5px 5px 5px;
}

.card #content #photo{
	margin-left: 25%;
	margin-bottom:10px;
	margin-top:10px;
}


.card #content #photo_nav{
	position:relative;
	top:-20px;
	margin-left: 25%;
	margin-bottom:10px;
}

.card #content #premium_member{
	position:absolute;
	top: 150px;
	left: 500px;
}

.card .content_data input {
	padding-left:5px;
	height:30px;
	width:400px;
	border:0px solid white;
	background-color:rgba(255, 255, 255, 0.5);
	font-size:14px;
	letter-spacing:1px;
}

.card .content_data input[type=checkbox]{
	width:15px;
	height:15px;
}

.card .content_data textarea{
	padding-left:5px;
	height:80px;
	width:400px;
	border:0px solid white;
	background-color:rgba(255, 255, 255, 0.5);
	font-size:14px;
	letter-spacing:1px;
}

.card .content_data {
	font-size:14px;
	width:700px;
	text-align:left;
}
.card .content_data  td:first-child {width:250px;}
.card .content_data td {padding:5px;}
.card .content_data tr:nth-child(even) {background: rgba(3, 3, 3, 0.3);}
.card .content_data tr:nth-child(odd) {background: rgba(12, 179, 29, 0.3);}

.navigation {
	width:700px;
	float:right:
}

.greencard_hover :hover{
	background-color:rgba(255, 179, 29, 0.2);
}

.card #start_year,#graduated_year{
	width:90px;
}

.card #summaries,#cover_letter,#cover_letter_en,#cover_letter_id{
	height:400px;
	width:700px;
}

.card #content #table_content{
	position:relative;
	top:-30px;
}

.er_menu:hover{
	background-color:rgba(12, 179, 29, 1);
}

.er_menu{
	position:relative;
	float:left;
	cursor:pointer;
	font-size:14px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	background-color:rgba(12, 179, 29, 0.7);
	font-weight:700;
	line-height:32px;
	padding:0 15px;
}


#blogs{
    width:980px;
    padding:0;
    margin:auto;
}

#wrapper{
    width:980px;
    margin-top:100px;
}

#categorymenu{
    background-color: white;
    width:980px;
    height:40px;
    text-align:center;
}

#content{
    width:980px;  
}

.content-left{
    padding:0px 10px 10px 10px;
    margin-top:30px;
    width:265px;
    background-color:white;
    border-radius:5px;
    text-align: center;
    
}

#content-right{
    margin-top:50px;
    width:350px;
    height:200px;
    float:right;
    margin-bottom:50px;
}

.textrotate{
    background-color:#FF6808;
    width:90px;
    height:20px;
    position:relative;
    padding-top:3px;
    top:10px;
    left:-32px;
    z-index:999;
    -ms-transform: rotate(-45deg); /* IE 9 */
    -webkit-transform: rotate(-45deg); /* Chrome, Safari, Opera */
    transform: rotate(-45deg);
}

.toolTip .details {
    padding: 14px 10px 10px;
    display: block;
	margin-bottom: 20px;
}

.toolTip .name {
    font-size: 13px;
    color: #fff;
	padding-right:20px;
}

.toolTip .name2 {
    font-size: 13px;
    color: #666;
	padding-right:20px;
}

.toolTip .nationality {
    font-size: 12px;
    color: #888;
}

.this_form_login input{
	width: 200px;
	padding:0px 10px 0px 10px;
	height:30px;
}

#	ProfileImg{
	width:200px;
}

.form-group label{
	display: block;
}

.notification-counter {
	background: #800000;
	position: absolute;
	display: block;
	padding: 2px 5px 1px;
	height: 17px;
	color: #fff;
	font-weight:bolder;
	text-align: center;
	line-height: 15px;
	font-size: 10px;
	text-transform: lowercase;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	display:inline;
}

#conversations{
	margin-top:20px;
	margin-bottom:100px;
	padding:5px;
	border:1px solid #ccc;
}

.bs-callout {
	width:90%;
    padding: 5px;
    margin: 10px 0;
    border: 1px solid #eee;
    border-radius: 3px;
}

.bs-callout-left{
    border-left-width: 5px;
    border-right-width: 1px;
}

.bs-callout-right{
	position:relative;
	left:10%;
    border-left-width: 1px;
    border-right-width: 5px;
}

.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}
.bs-callout p:last-child {
    margin-bottom: 0;
}
.bs-callout code {
    border-radius: 3px;
}
.bs-callout+.bs-callout {
    margin-top: -5px;
}
.bs-callout-default {
    border-left-color: #777;
    border-right-color: #777;
}
.bs-callout-default h4 {
    color: #777;
}
.bs-callout-primary {
    border-left-color: #428bca;
    border-right-color: #428bca;
}
.bs-callout-primary h4 {
    color: #428bca;
}
.bs-callout-success {
    border-left-color: #5cb85c;
    border-right-color: #5cb85c;
}
.bs-callout-success h4 {
    color: #5cb85c;
}
.bs-callout-danger {
    border-left-color: #d9534f;
    border-right-color: #d9534f;
}
.bs-callout-danger h4 {
    color: #d9534f;
}
.bs-callout-warning {
    border-left-color: #f0ad4e;
    border-right-color: #f0ad4e;
}
.bs-callout-warning h4 {
    color: #f0ad4e;
}
.bs-callout-info {
    border-left-color: #5bc0de;
    border-right-color: #5bc0de;
}
.bs-callout-info h4 {
    color: #5bc0de;
}

div.callout {
	background-color: #fff;
	background-image: -moz-linear-gradient(top, #F5AD41, #F5AD41);
	position: absolute;
	color: #000;
	border-radius: 3px;
	box-shadow: 0px 0px 20px #999;
	border: 1px solid #F5AD41;
	padding:0px 4px 0px 4px;
	font-size:0.7em;
}
.callout::before {
	content: "";
	width: 0px;
	height: 0px;
	border: 0.8em solid transparent;
	position: absolute;
}
.callout.top::before {
	left: 45%;
	bottom: -20px;
	border-top: 10px solid #F5AD41;
}
.callout.bottom::before {
	left: 45%;
	top: -20px;
	border-bottom: 10px solid #F5AD41;
}
.callout.left::before {
	right: -20px;
	top: 40%;
	border-left: 10px solid #F5AD41;
}
.callout.right::before {
	left: -20px;
	top: 40%;
	border-right: 10px solid #F5AD41;
}
.callout.top-left::before {
	left: 7px;
	bottom: -20px;
	border-top: 10px solid #F5AD41;
}
.callout.top-right::before {
	right: 7px;
	bottom: -20px;
	border-top: 10px solid #F5AD41;
}

.top-right-img {
    position: absolute;
	left:200px;
	color:white;
    display: block;
    text-decoration: none;
	text-shadow: 1px 1px grey;
	background-color:#337ab7;
	cursor:pointer;
	font-size:40px;
}

.new-img-icon{
	position: absolute;
	top:5px;
	right:24px;
	font-size:10px;
	background-color:#337ab7;
	padding-left:5px;
	padding-right:5px;
	padding-top:3px;
	color:white;
}

.reject-icon{
	position: absolute;
	top:5px;
	right:24px;
	font-size:10px;
	background-color:red;
	padding-left:5px;
	padding-right:5px;
	padding-top:3px;
	color:white;
}

.reject-icon2{
	position: absolute;
	top:0px;
	right:15px;
	font-size:15px;
	background-color:red;
	padding:5px;
	color:white;
}
/*===================================================================================*/
.category_title{
	text-align:center;
	color:black;
	font-weight:bolder;
	font-size:1.4em;
	background-image: linear-gradient(rgba(255, 222, 81, 1), rgba(255, 222, 81, 1));
	padding-top:4px;
	padding-bottom:4px;
    background-size: cover;
    position: relative;
	top:-1px;
}

.categories_head{
	text-align:center;
	color:#3C6666;
	font-size:0.8em;
	background-image: linear-gradient(rgba(241, 241, 241, 1), rgba(241, 241, 241, 1));
	padding-top:4px;
	padding-bottom:10px;
    background-size: cover;
    position: relative;
	top:-1px;
}

.table_categories_head{
	width:100%;
	padding:0px;
}
.table_categories_head p{
	height:18px;
	width:140px;
	white-space: pre-wrap;      /* CSS3 */   
	white-space: -moz-pre-wrap; /* Firefox */    
	white-space: -pre-wrap;     /* Opera <7 */   
	white-space: -o-pre-wrap;   /* Opera 7 */    
	word-wrap: break-word;      /* IE */
}
.table_categories_head td{
	text-align:center;
	vertical-align:top;
	padding-top:10px;
	cursor:pointer;
	height:105px;
}
.table_categories_head div{
	width:140px;
}
.table_categories_head img{
	height:58px;
	margin-left:30px;
}
.table_categories_head img:hover{
	height:62px;
}
.table_categories_head .caption{
	font-size:1.1em;
}

input[type=checkbox]{
	width:15px !important;
	height:15px !important;
	display: inline !important;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.nowrap {
	white-space:nowrap;
}

.navbar-default {
    background-color: #f4f4f4 !important;
}
.navbar-default .navbar-nav a{
	color:#000 !important;
}
.navbar-default .navbar-nav>.open>a:hover{
	background-color:#800000 !important;
	font-weight:bolder;
}

.nav-tabs>li>a{
    border-color: #eee #eee #ddd !important;
}
.nav>li>a{
	margin-top:5px !important;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover, .navbar-nav>li.active>a{
    background-color: #ddd !important;
    border: 1px solid #ddd !important;
    border-bottom-color: transparent !important;
}

.carousel-main{
	height:240px !important;
	width:480px !important;
}
.carousel-goods{
	height:300px !important;
	width:300px !important;
}
.carousel-inner-main{
	height:250px !important;
	width:480px !important;
}
.carousel-inner-goods{
	height:310px !important;
	width:300px !important;
}
.carousel-control{
	color:#800000 !important;
	width:5% !important;
	z-index:10 !important;
}
.carousel-indicators li{
	border:1px solid #800000 !important;
}
.carousel-indicators .active{
	background-color:#800000 !important;
}
.carousel-caption {
	position:absolute !important;
	top:0px;
	max-width: 550px;
	padding: 0 20px;
	margin:0 auto;
	margin-top: 100px;
}
.carousel-overlay {
    position: absolute;
	top:0px;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
}

.dropdown-menu>li>a:hover{
	background-color:#800000 !important;
	color:#000 !important;
}

.search-container {
	margin-top:6px;
	float: right;
}
.search-container input[type=text] {
  padding: 7px;
  font-size: 13px;
  border: none;
  width:300px;
  height:30px;
}
.search-container button {
  float: right;
  padding: 5px 10px;
  margin-right: 16px;
  background: #800000;
  color:#000;
  font-size: 17px;
  border: none;
  cursor: pointer;
  height:30px;
}
.search-container button:hover {
  background: #EFB509;
}
.search-container select {
  padding: 8px 0px 6px 0px;
  font-size: 10px;
  border: none;
  background-color: #fff;
  width:120px;
  height:30px;
}

.header-start{ height:58px; }
.header-start2{ height:58px; }

.menuTitle{
	position:relative;
	float:left;
	padding:0px 0px 0px 20px;
	color:#800000;
	font-weight:bolder;
	width:100%;
}

.sub-title-text{
	position:relative;
	font-size:1.4em;
	font-weight:bolder;
	margin-left:15px;
	margin-bottom:15px;
}

.view-all-text{
	font-size:0.9em;
	position:relative;
	float:right;
	margin-right:30px;
}
.view-all-text a {
	color:#800000;
	text-decoration:none;
}
.view-all-text a:hover{
	color:#EFB509;
	text-decoration:none;
}

.goods-thumbnail{
	border:0px !important;
	vertical-align: top;
	width:200px;
	height:280px !important;
	overflow: hidden;
	white-space: normal;
	font-size: 0.9em;
}
.goods-thumbnail img {
	width:190px;
	height:190px;
}
.goods-thumbnail .caption {
	height: 40px;
}
.goods-thumbnail .price {
	color: #800000 ;
}
.goods-thumbnail .seller-info{
	margin-top:10px;
	border-top:1px dotted #ddd;
	color:rgba(0,0,0,.54);
	margin-bottom:-10px;
}
.goods-thumbnail .location-info{
	color:rgba(0,0,0,.38);
	font-size:10px;
}

.goods-thumbnail2{
	height:340px !important;
	margin-top: 20px;
}

.goods-thumbnail3{
	height:200px !important;
}

.seller-thumbnail{
	border:0px !important;
	text-align:center;
	vertical-align: top;
	width:160px;
	overflow: hidden;
	white-space: normal;
	font-size: 0.9em;
}
.seller-thumbnail img {
	width:85px;
	height:85px;
}
.seller_body_profile{
	position:relative;
	top:-50px;
	left:2px;
	width:130px !important;
}
.seller-thumbnail .caption {
	position:relative;
	top:-50px;
	padding-top:5px;
	font-size:16px;
	height:46px;
}
.seller-thumbnail .location {
	position:relative;
	top:-50px;
	color: #000000 ;
	font-size:16px;
}
.seller-thumbnail .seller-info{
	margin-top:10px;
	border-top:1px dotted #ddd;
	color:rgba(0,0,0,.54);
	margin-bottom:-10px;
}
.seller-thumbnail .location-info{
	color:rgba(0,0,0,.38);
	font-size:10px;
}

.categories-thumbnail{
	vertical-align: top;
	width:200px;
	height:280px !important;
	overflow: hidden;
	white-space: normal;
	font-size: 0.9em;
}
.categories-thumbnail img {
	width:190px;
	height:190px;
}
.categories-thumbnail .caption {
	height: 40px;
}
.categories-thumbnail .price {
	color: #800000 ;
}
.categories-thumbnail .seller-info{
	margin-top:10px;
	border-top:1px dotted #ddd;
	color:rgba(0,0,0,.54);
	margin-bottom:-10px;
}
.categories-thumbnail .location-info{
	color:rgba(0,0,0,.38);
	font-size:10px;
}

.categories .img-thumbnail {
	vertical-align: top;
	text-align:center;
	width:80px;
	height:115px !important;
	overflow: hidden;
	white-space: normal;
	font-size: 0.7em;
}
.categories .img-thumbnail img {
	width:80px;
	height:80px;
}

a:focus, a:hover {
    color: #800000 !important;
    text-decoration: none !important;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 99999;
    top: 0;
    right: 0;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 10px;
}
.sidenav a {
    padding: 8px 8px 8px 8px;
    text-decoration: none;
    font-size: 14px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
.sidenav a:hover {
    color: #f1f1f1;
}
.sidenav .closebtn {
	float:right;
	position:relative;
	color:#800000;
}
.sidenav .closebtn a{
	text-decoration: none;
	color:#800000;
    font-size: 46px;
	font-weight:bolder;
	line-height: 0px;
}

#sidenavContent {
	margin-top:20px;
	padding:10px;
}

.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.r-form-1-top {
	margin-top:15%;
	margin-left:50px;
    padding: 25px 25px 15px 25px;
    background: #444;
    background: rgba(200, 200, 200, 0.45);
    -moz-border-radius: 40px 0 0 0;
    -webkit-border-radius: 40px 0 0 0;
    border-radius: 40px 0 0 0;
	color: #fff;
	font-size: 34px;
	text-shadow: 1px 1px #080808;
}
.r-form-1-top img{
	height:50px;
	position:relative;
	top:-10px;
}
.r-form-1-bottom {
    padding: 25px;
	margin-left:50px;
    background: #444;
    background: rgba(200, 200, 200, 0.3);
    text-align: left;
	font-size: 18px;
    line-height: 34px;
	color: #fff;
	opacity: 0.8;
	text-shadow: 1px 1px #080808;
}
.r-form-1-bottom .subtitle {
	font-size: 28px;
}
.r-form-1-bottom .description {
	margin-bottom:40px;
}

.form-group #next,#finish {
	position:relative;
	float:right;
}

.survey-label{
	white-space:normal;
	font-size:12px;
}

.take-photo{
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.take-photo + label {
    max-width: 80%;
    font-size: 1.25rem;
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 0.625rem 1.25rem;
    color: #800000;
}
.take-photo + label img {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    fill: currentColor;
    margin-top: 0px;
    margin-right: 0.25em;
    width: 100%;
    height: 100%;
    fill: #f1e5e6;
}
.take-photo:focus + label, .take-photo.has-focus + label, .take-photo + label:hover {
    color: #EFB509;
}
.take-photo + label figure {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #800000;
    display: block;
    padding: 5px;
    margin: 0 auto 10px;
}
.take-photo:focus + label figure, .take-photo.has-focus + label figure, .take-photo + label:hover figure {
    background-color: #EFB509;
}

#waterfall .close{
	font-size:30px !important;
	line-height:0 !important;
	color:#800000 !important;
	opacity:1 !important;
	margin:5px 0px 10px 0px;
}

#controls {
    background-color: #1b1b1b;
    text-align: center;
}
#controls a {
    /* display: inline-block; */
    padding: 0 5%;
    height: 50px;
    line-height: 30px;
    font-size: 20px;
    font-weight: 300;
    color: #888;
}

.trx-value-text{
	color:#337ab7;
	font-weight:bolder;
}

.bg-grey{
	background-color:#eaeaea;
}

.bg-white{
	background-color:#fff;
}

.header-cart{
	font-size:18px;
	float:left;
	margin-right:20px;
	margin-top:15px;
	color:#800000;
}
.header-cart img{
	height:20px;
}
.header-cart + a{
	position:relative;
	top:10px;
}

.multiselect-container {
	width: 400px !important;
}

textarea{
	height:150px !important;
}

.clickable{
    cursor: pointer;   
}

.panel-heading span {
	margin-top: -20px;
	font-size: 15px;
}

.store-logo{
	position:relative;
	top:-100px;
	left:2%;
	width:94%;
}
.store-title{
	position:relative;
	font-size:24px;
	font-weight:bolder;
	top:110px;
	left:5px;
}
.store-subtitle{
	position:relative;
	font-size:18px;
	top:110px;
	left:5px;
}
.store-desc{
	position:relative;
	top:-80px;
}

.header-image-frame{
	border:1px solid grey;
	width:1100px;
	height:200px;
}

.table-categories{
	background-color:#fff;
	width:100%;
	border-collapse:collapse;
}
.table-categories td{
	border:1px solid #ddd;
	text-align:center;
	vertical-align:top;
}
.table-categories img{
	height:78px;
}
.table-categories .caption{
	font-size:0.9em;
	color:#000;
	font-weight:bolder;
}
.table-categories.all-categories td{	
	text-align:left;
	padding:10px 10px 0px 30px;
}

.table_footer_categories_area{
	width:100%;
	background-color:#F1F1F1;
}
.table_footer_categories_area td{
	padding-top:40px;
	padding-bottom:40px;
	background-color:#F1F1F1;
}
.table_footer_categories_area img{
	width:30px;
	height:30px;
	margin-right:10px;
}

.btn-red{
	background-color: #800000 !important;
    border-color: #800000 !important;
}

.btn-blue{
	background-color: #27A9E3 !important;
    border-color: #27A9E3 !important;
}

.home_recommended_goods_thumbnail{
	padding-top:10px;
}
.home_recommended_goods_thumbnail:hover{
	box-shadow:0 10px 20px rgba(0,0,0,0.19),0 6px 6px rgba(0,0,0,0.23);
}
.home_recommended_goods .caption{
	margin-top:10px;
	height:35px;
}
.home_recommended_goods .price{
	color:#F95731;
	font-weight:bolder;
	height:40px;
}
.home_recommended_goods img{
	width:140px;
	height:165px;
}

.goods_list_thumbnail{
	padding-top:10px;
}
.goods_list_thumbnail:hover{
	box-shadow:0 10px 20px rgba(0,0,0,0.19),0 6px 6px rgba(0,0,0,0.23);
}
.goods_list .caption{
	margin-top:10px;
	height:20px;
}
.goods_list .caption:hover{
	border-bottom:1px dashed grey;
}
.goods_list .price{
	color:#800000;
	font-weight:bolder;
	height:20px;
}
.goods_list .seller{
	font-size:0.8em;
	height:20px;
}
.goods_list img{
	width:140px;
	height:165px;
}
.goods_list .search_result{
	position:relative;
	left:20px;
	float:left;
	font-weight:bolder;
	font-size:0.8em;
}
.goods_list .search_result_value{
	position:relative;
	top:-3px;
	float:right;
	margin-left:5px;
	font-weight:bolder;
	font-size:1.2em;
}
.goods_list .location{
	position:relative;
	left:20px;
	float:left;
	font-weight:bolder;
	font-size:0.9em;
	width:90px;
}
.goods_list .location_value{
	margin-left:5px;
	font-weight:bolder;
	font-size:0.9em;
}

.register_page_background{
	position:relative;
	left:69px;
	background-image: url("../assets/register_page_background.png");
	background-repeat: no-repeat;
	width:461px;
	height:314px;
}

.register_form_background{
	background-image: url("../assets/register_form_background.png");
	background-repeat: no-repeat;
	height:410px;
	width:295px;
	padding:40px 30px 40px 30px;
}
.register_form_background label{
	font-size:0.8em;
}
.register_form_background .form-control{
	height:22px;
	font-size:0.8em;
}
.register_form_background .form-group{
	margin-bottom: 7px;
}
.register_form_background button {
	margin-top:10px;
	padding: 5px 10px;
	background: #800000;
	color:#fff;
	font-size: 17px;
	border: none;
	cursor: pointer;
	height:30px;
	width:100%;
	font-weight:700;
}
.register_form_background button:hover {
	background: #EFB509;
}

.frame_common{
	padding:0px;
	border:1px solid #F4D8B0;
	width:100%;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
.frame_title{
	padding:12px 0px 12px 0px;
	width:100%;
	border-bottom:1px solid #F4D8B0;
	text-align:center;
	font-weight:bolder;
	font-size:1.1em;
}
.frame_body{
	padding:10px 15px 10px 15px;
}
.frame_body img{
	width:20px;
	height:20px;
}
.frame_body div{
	padding-bottom:5px;
}
.frame_body a{
	margin-left:5px;
}
.frame_body #search{
	font-weight:bolder;
	font-size:1.2em;
}
.frame_body .form-group{
	margin-top:10px;
	margin-bottom:0px !important;
}
.frame_subtitle{
	width:100%;
	border-bottom:1px solid #F4D8B0;
	font-weight:bolder;
	font-size:1.1em;
	padding-bottom:5px;
	margin-bottom:10px;
}

.footer_tray{
	padding-top:10px;
	overflow: hidden;
	background-color: #f4f4f4;
	position: fixed;
	bottom: 0;
	width: 100%;
}

.switch {
	position: relative;
	display: inline-block;
	width: 30px;
	height: 17px;
}
.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}
.switch_slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
}
.switch_slider:before {
	position: absolute;
	content: "";
	height: 13px;
	width: 13px;
	left: 2px;
	bottom: 2px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
}
input:checked + .switch_slider {
	background-color: #2196F3;
}
input:focus + .switch_slider {
	box-shadow: 0 0 1px #2196F3;
}
input:checked + .switch_slider:before {
	-webkit-transform: translateX(13px);
	-ms-transform: translateX(13px);
	transform: translateX(13px);
}
.switch_slider.round {
	border-radius: 17px;
}
.switch_slider.round:before {
	border-radius: 50%;
}
.switch_caption {
	white-space: nowrap;
	margin-left:33px;
	font-size:0.8em;
}

.color_pick{
	border:1px solid grey;
	position:relative;
	float:left;
	height:25px;
	margin:5px;
	padding:1px 5px 0px 4px;
}
.color_pick_caption{
	margin-left:5px;
	position:relative;
	float:right;
	font-weight:bolder;
	font-size:0.9em;
	color:white;
	text-shadow: 1px 1px grey;
}
.color_choice{
	border:1px solid grey;
	position:relative;
	float:left;
	height:15px;
	width:15px;
	margin:0px 1px 5px 1px;
	padding:1px 5px 0px 4px;
}

.oval_border{
    width: 150px;
    height: 25px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 1px solid black;
	padding:0px 5px 0px 5px;
}
.oval_border .left_caption{
	height:100%;
	position:relative;
	float:left;
	top:-7px;
	font-size:1.8em;
	font-weight:bolder;
	margin-right:5px;
	color:#29A9E1;
	cursor:pointer;
}
.oval_border .center_text input[type=number] {
	border:0px;
	position:relative;
	height:23px;
	width:77%;
	float:left;
	text-align:center;
}
.oval_border .right_caption{
	height:100%;
	position:relative;
	float:right;
	top:-5px;
	font-size:1.8em;
	font-weight:bolder;
	margin-left:5px;
	color:#29A9E1;
	cursor:pointer;
}
.oval_border .left_caption:hover{
	color:#F7931E
}
.oval_border .right_caption:hover{
	color:#F7931E
}

.goods_like{
	margin-top:10px;
	width:90%;
	height:50px;
	background-size: 50px 40px;
	background-repeat: no-repeat;
	background-position: right;
	cursor:pointer;
}
.goods_liked{
	background-image: url("../assets/liked.png");
}
.goods_unliked{
	background-image: url("../assets/unliked.png");
}
.goods_likes_count{
	position:relative;
	float:right;
	margin-right:50px;
	top:15px;
	color:#FF408F;
}
.goods_liked_caption{
	width:90%;
	padding-right:2px;
	text-align:right;
}

.common_title{
	margin-top:30px;
	margin-bottom:30px;
	padding-left:20px;
	padding-bottom:0px;
	font-size:1.4em;
	font-weight:bolder;
	color:#800000;
	border-bottom:5px solid #EE9634;
}

.notes_for_seller{
	width: 255px;
    height: 44px;
    border-top-left-radius: 18px;
    border-bottom-left-radius: 18px;
    border-top-right-radius: 18px;
    border-bottom-right-radius: 18px;
    border: 1px solid #800000;
	padding:0px 5px 0px 5px;
}
.notes_for_seller:focus{
	outline: none;
}

@media screen and (max-width: 995px) {
	.header-start{ height:110px; }
	.carousel-inner-main{
		height:100% !important;
	}
	.r-form-1-top {
		margin-top:5%;
	}
	.header-search{
		display:none;
	}
}

@media screen and (max-width: 767px) {
	.category_title{
		font-size:1em;
	}
	.search-container {
	  width:100%;
	  padding-left:7px;
	}
	.search-container .input-group {
		width:98% !important;
	}
	.search-container input[type=text] {
		width: 60%;
	}
	.search-container select {
		width: 40%;
	}
	.search-container button {
		width:100%;
		float:left;
		margin:0;
		background: #F69320;
	}
	.header-start{ height:165px; }
	
	.r-form-1-top {
		margin-top:10%;
		margin-left:15px;
		padding: 3px 3px 2px 8px;
		-moz-border-radius: 10px 0 0 0;
		-webkit-border-radius: 10px 0 0 0;
		border-radius: 10px 0 0 0;
		font-size: 15px;
	}
	.r-form-1-top img{
		height:20px;
		position:relative;
		top:-3px;
	}
	.r-form-1-bottom {
		padding: 3px;
		margin-left:15px;
		font-size: 10px;
		line-height: 14px;
	}
	.r-form-1-bottom .description {
		margin-bottom:10px;
	}
	.r-form-1-bottom .subtitle {
		font-size: 12px;
	}
	.r-form-1-bottom .btn-link-2 { 
		font-size: 10px;
	}
	.member_reason{
		font-size: 1em;
	}
	.home_recommended_goods .price{
		height:20px;
	}
	
	.footer-top {
		background-image: url("");
		background-color: #F9CE20;
	}
	
	.table_categories_head p{
		height:18px;
		width:105px;
	}
	.table_categories_head td{
		text-align:center;
		vertical-align:top;
		padding-top:10px;
		cursor:pointer;
		height:70px;
	}
	.table_categories_head div{
		width:110px;
	}
	.table_categories_head img{
		height:38px;
		margin-left:30px;
	}
	.table_categories_head img:hover{
		height:42px;
	}
	.table_categories_head .caption{
		font-size:0.8em;
	}
}